body {
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  line-height: 160%;
  color: #333;
  overflow-x: hidden;
  font-weight: 300;
}

/* Reusable style */
.container {
 /* width: 1400px;
  max-width: 1200px;*/
}

.container-fluid {
  padding: 0;
}
header .container {
  width: 100%;
}

header .navbar.topnav {
  background: transparent;
  border: none;
}
.region-content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* colors */
.white {
  color: #fff;
}

.blue {
  color: #007eff;
}

.w1340 {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
}

.w1200 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.bg-wheat {
  background-color: #f8f9fa; 
}

.bg-blue {
  background-color: #007eff;
}

.font-wheat {
  color: #adb5bd;
}

.font-blue {
  color: #007bff;
}


/* Basic styles */
p {
  margin: 0 0 20px 0;
}

h1,
.h1 {
  font-size: 18px;
  color: #000;
}

h2,
.h2 {
  font-size: 16px;
  color: #000;
}

h3,
.h3 {
  font-size: 15px;
  color: #007eff;
}

h4,
.h4 {
  font-size: 14px;
  color: #007eff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #007eff;
  text-decoration: none;
}

a:hover {
  color: #007eff;
  text-decoration: none;
}

ul.links.inline {
  padding: 0;
}

ol,
ul {
  padding-left: 20px;
}

ul.links.inline li {
  list-style: none;
}

.block {
  margin-bottom: 12px;
}

.region-content {
  padding: 10px 2px;
}

.block h2.title {
  text-transform: uppercase;
}

.front-page .main-header {
  background-size: cover;
  position: relative;
  background-color: #fefefe;
  min-height: 800px;
}

.front-page .main-header:before {
  z-index: 1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(89, 89, 89, 0.9);
}

.front-page .main-header:after {
  content: "";
  background: #fff;
  height: 200px;
  -webkit-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
  position: absolute;
  left: 0;
  bottom: -100px;
  right: 0;
  z-index: 1;
}

.main-header nav.navigation {
  border: 0;
  margin: 0;
  position: relative;
  z-index: 200;
  min-height: auto;
  padding: 8px 0;
}

.main-header ul.menu {
  margin: 0;
}

.main-header ul.menu li {
  display: inline-block;
  margin-right: 40px;
}

.main-header ul.menu a {
  font-size: 16px;
  color: #444;
  padding: 15px 0;
}

.main-header ul.menu a.is-active {
  color: #222;
}

.front-page .main-header ul.menu a {
  font-size: 16px;
  color: rgba(255,255,255,.7);
}
.front-page .main-header ul.menu a.is-active {
  color: #fff;
}

.region.region-header {
  position: relative;
  z-index: 2;
  padding: 10px 0;
}

.main-header .block {
  margin: 0;
}

/*Region Header*/

.site-branding {
  margin: 0;
}

.site-logo {
  display: none;
  margin-right: 15px; 
}

.site-logo img {
  max-width: 40px;
}

.site-name {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
  padding: 3px 0;
}

.site-name a {
  font-size: 26px;
  font-weight: 500;
  color: #007bff;
}
.front-page .site-name a {
  color: #fff;
}
.region-header .site-branding__slogan {
  font-size: 10px;
  color: #007bff;
}

/* Banner */
.region-banner {
  position: relative;
  z-index: 3;
}

.branding-area {
  padding: 15px 0;
}
.home-banner {
  margin: 25% 0 0 25%;
}

.home-banner .sub-heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  margin-bottom: 20px;
  color: #007eff;
}

.home-banner .title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}

.home-banner .description {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 20px;
}

.btn-large {
  background: #007eff;
  padding: 10px 20px;
  position: relative;
  display: inline-block;
  border-radius: 20px;
  color: #fff;
}
    

/* Content */
.front-page #main-content-wrapper {
  position: relative;
  z-index: 3;
}


/* service cards section */
.section-block {
  padding: 8rem 0;
}
.section-block .section-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.section-block .section-header {
  margin: 0 auto 50px;
  text-align: center;
  max-width: 60%;
}
.service-cards-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}
.card {
  margin-bottom: 30px;
}
.card .card-inner {
  background: #fff;
  padding: 30px;
  top: 0;
  position: relative;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 0px 10px #ddd
}

.card-icon {
  border-radius: 50%;
  border: 1px solid #007bff;
  background: #007bff;
  width: 70px;
  height: 70px;
  margin: 0 auto 30px;
  position: relative;
  text-align: center;
}
.card-icon:before {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  content: "";
  width: 90px;
  height: 90px;
  border: 1px solid rgba(0,123,255,.2);
}
.card-icon .fa {
  color: #fff;
  font-style: normal;
  font-weight: 100;
  font-variant: normal;
  text-transform: none;
  font-size: 30px;
  padding-top: 18px;
} 

.card .card-title {
  margin-bottom: 15px;
}
.card .card-title a {
  font-size: 20px;
  margin-bottom: 1.2rem;
  color: #000;
}
.card .card-body {
  color: #212529;
}



    

        







/*Sidebar Blocks*/

.sidebar .block {
  background: #fafafa;
  padding: 10px;
}

.sidebar .block h2.title {
  text-transform: capitalize;
  margin-top: 0;
}

/*Copyright & Credit*/

.copy_credit .copyright,
.copy_credit .credit {
  margin: 10px;
}

/*Scroll Top*/

#toTop a.scrollUp {
  background: #007bff;
  width: 60px;
  height: 60px;
  display: inline-block;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  cursor: pointer;
}

#toTop a.scrollUp .fa {
  color: #fff;
  font-size: 30px;
  height: 54px;
  line-height: 54px;
  width: 54px;
}

#toTop a.scrollUp:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background: #005aba;
}

/*Breadcrumb*/

.breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #eee;
  font-size: 11px;
}

.breadcrumb ul {
  padding: 0;
  margin: 0;
}

.breadcrumb ul li {
  display: inline-block;
}


/*Contact Form*/

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea {
  width: 100%;
}

/* Footer */
.footer-wrapper {
  padding: 4rem 0 6rem;
  position: relative;
  background: #001f42;
  margin-top: 16rem;
}
.footer-wrapper:before {
  content: "";
  background: #001f42;
  height: 200px;
  -webkit-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
  position: absolute;
  left: 0;
  top: -100px;
  right: 0;
  z-index: -1;
}
.footer-wrapper a.scrollUp {
  position: absolute;
  z-index: 5;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #007bff;
  left: 50%;
  -webkit-transform: translate(-50%,-250%);
  -ms-transform: translate(-50%,-250%);
  transform: translate(-50%,-250%);
  -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,.3);
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.3);
  text-align: center;
}
.footer-wrapper a.scrollUp .fa {
  color: #fff;
  font-size: 30px;
  padding-top: 6px;
} 
.footer-column-menu h2 {
  color: #fff;
}
.footer-column-menu ul {
  margin: 0;
}
.footer-column-menu ul.menu a,
.footer-column-menu ul.menu a.is-active {
  color: #007eff;
}
.footer-social i {
  background: #007eff;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  min-width: 35px;
  min-height: 35px;
  color: #fff;
  margin-right: 10px;
}
.footer-social a:hover i {
  background: #ffff;
  color: #007eff;
}
.footer-address {
  margin-top: 20px;
  color: #ccc;
}
#block-poweredbydrupal {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #007eff3b;
  padding-top: 30px;
}
#block-poweredbydrupal h2 {
  display: none;
}
#block-poweredbydrupal .content {
 color: #fff;
 text-transform: uppercase;
}
/* User login block */
#block-userlogin {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #dee2e6;
}
#block-userlogin h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #333;
  font-weight: 300;
}
    
#block-userlogin form {
  margin: 40px auto 5px;
  padding: 50px 60px;
  background: #fff;
  box-shadow: 0px 0px 6px #ccc;
  text-align: center;
}
#block-userlogin.container-inline label {
  font-size: 16px;
  font-weight: 300;
}
#block-userlogin.container-inline label:after {
  content: '';
  background: none;
}
#block-userlogin form .form-item {
  margin: 0 20px;
}
#block-userlogin form input.form-text {
  min-width: 222px;
  border: 1px solid #ccc;
  padding: 10px;
}
#block-userlogin form input.button {
  min-width: auto;
  padding: 10px 30px;
  background: #007eff;
  color: #fff;
  margin-left: 40px;
  border: none;
}
#block-userlogin .item-list ul {
  margin: 0 0 40px 0;
}
#block-userlogin .item-list ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px 0 0;
}
